
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* start here */

    body{
      width: 700px;
      margin: 0 auto;
    }

    h1{
      text-align: center;
      font-size: 50px; 
      font-family: 微軟正黑體;
      margin: 10px 10px 20px 10px;
    }

    h2{
      text-align: center;
      font-size: 35px; 
      font-family: 微軟正黑體;
      margin: 35px 20px 20px 10px;
    }

    .menu{
      text-align: center;
    }

    .menu a{
      text-decoration: none;
      background-color: black;
      color: white;
      font-size: 20px; 
      font-family: 微軟正黑體;
      margin: 10px 0px 10px 0px;
      padding: 8px 20px 8px 20px;
    }
    
    .menu a:hover{
      background-color: white;
      color: black;
    }

    form{
      font-size: 18px;
      font-family: 微軟正黑體;
      text-align: left;
      padding: 20px;
    }

    input{
      font-size: 18px;
      font-family: 微軟正黑體;
      margin: 10px;
      padding: 8px;
    }

    a{
      text-decoration: none;
      background-color: black;
      color: white;
      font-size: 10px; 
      font-family: 微軟正黑體;
      margin: 0px 50px 0px 50px;
      padding: 0px 10px 0px 10px

    }
    .mail a{
      text-decoration: none;
      background-color: black;
      color: white;
      font-size: 15px; 
      font-family: 微軟正黑體;
      margin: 0px 10px 0px -150px;
      padding: 0px 10px 0px 10px

    }
    .mail h2{
      text-align: center;
      font-size: 35px; 
      font-family: 微軟正黑體;
      margin:0px 0px 0px -50px;;
      padding:0px 0px 0px 200px;
    }
    .analysis a{
      text-decoration: none;
      background-color: black;
      color: white;
      font-size: 15px; 
      font-family: 微軟正黑體;
      margin: 0px 10px 0px 10px;
      padding: 15px 10px 15px 10px

    }
    .analysis a:hover{
      background-color: white;
      color: black;
    }
    .analysis table {
      text-align: center;
      border-collapse: collapse;
      width: 100%;
      margin: 50px 0px 0px 0px;
    }

    .analysis select{
      font-size: 16px;
      font-family: 微軟正黑體;
      margin: 0px;
      padding: 1px;
    }

    .analysis input{
      font-size: 14px;
      font-family: 微軟正黑體;
      margin: 10px;
      padding: 2px;
    }

    .analysis_table table {
      text-align: center;
      border-collapse: collapse;
      width: 100%;
      margin: 100px 0px 0px -20px;
    }
    .package table {
      text-align: center;
      border-collapse: collapse;
      width: 100%;
      margin: 50px 0px 0px -20px;
    }
    .account table {
      text-align: center;
      border-collapse: collapse;
      width: 100%;
      margin: 50px 0px 0px -300px;
    }

    .table h2{
      text-align: center;
      font-size: 35px; 
      font-family: 微軟正黑體;
      margin: 35px 20px 20px -1000px;
    }
    .table a{
      text-decoration: none;
      background-color: black;
      color: white;
      font-size: 15px; 
      font-family: 微軟正黑體;
      margin: 0px 10px 0px 100px;
      padding: 5px 5px 5px 5px

    }
    .ptable h2{
      text-align: center;
      font-size: 35px; 
      font-family: 微軟正黑體;
      margin: 35px 20px 0px -750px;
    }
    .ptable a{
      text-decoration: none;
      background-color: black;
      color: white;
      font-size: 15px; 
      font-family: 微軟正黑體;
      margin: 0px 10px 0px 100px;
      padding: 5px 5px 5px 5px
    }

    table, th, td {
      border: 1px solid black;
    }  

    table {
      border-collapse: collapse;
      width: 100%;
      margin: 50px 0px 0px -200px;
    }

    th, td {
      padding: 15px;
    }

